asgiref==3.2.7
Django==3.0.4
django-crum==0.7.5
django-widget-tweaks==1.4.8
freeze==1.0.10
html5lib==1.0.1
mysqlclient==1.4.6
Pillow==7.1.1
psycopg2==2.8.5
PyPDF2==1.26.0
pytz==2019.3
reportlab==3.5.42
six==1.14.0
sqlparse==0.3.1
webencodings==0.5.1
xhtml2pdf==0.2.4
