{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'user/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">Nro</th>
        <th scope="col">Nombres</th>
        <th scope="col">Username</th>
        <th scope="col">Fecha de registro</th>
        <th scope="col">Imagen</th>
        <th scope="col">Grupos</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}